<% if (!(@arr.nil?)) %>
<div class="grid-container">
  <%@i = 0 %>
  <% @arr.each do |x| %>
  <div class="<%=@titlePage%> grid-item">
    <%@i+=1%>
    <h4> <%= x.name %> </h4>
    <img  class="foodIcon"src ="<%= x.img%>">
    <p>  <%= "Price:$  %0.2f" % [x.price] %> </p>
    <p> <%=  "Calories: %0.2f" % [ x.calories] %> </p>
  </div>
  <% end %>
</div>
<% end %>
